


<button (click)="goBack()">Back</button>
    <div class="card">
    
      <div class="container">
        <div *ngIf="client">
            <h2>{{client.companyName}} details</h2>
          <div class="row">
            <div class="col-sm-3">Work Address</div>
            <div class="col-sm-6">
              {{ client.address1 }}.
              <br>{{client.city}}, {{client.state}} {{client.zipCode}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3">Preferences</div>
            <div class="col-sm-6  pull-left">None</div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3">Requester Info</div>
            <div class="col-sm-6 pull-left">
              <br>Email: {{client.email}}
              <br>Phone: {{client.phone}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6  pull-left">
              <li *ngFor=" let contact of contacts; let i = index ">
                Contacts 
                  <br> - ID: {{contact.id}}
                  <br> - Name: {{contact.name}}
              </li>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>

